.intro {
    color: #fff;
    text-shadow: 2px 2px 0 black;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    position: absolute;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    margin-top: 20px;
    letter-spacing: 4px;
    line-height: 1.5em;
    z-index: 2;
}

.intro a {
    color: white;
}