.floor {
	background-image: url('./floor.jpg');
	height: 2000px;
	position: absolute;
	transform: rotateX(90deg); /* horizontal */
	transform-origin: 0 1000px;
	transform-style: preserve-3d;
	width: 2000px;
}
